/Assemblies/0Harmony.dll
/Assemblies/0Harmony.xml
/Assemblies/HarmonyMod.dll
/Source/BetterTurrets/obj
/Source/BetterTurrets/.editorconfig
/Source/BetterTurrets/.vs
/Source/BetterTurrets/BetterTurrets.user
